* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 182, 104);
}
.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

header, form {
    display: flex;
    justify-content: center;
}

#todo-input {
    border-radius: 6px;
    border-style: none;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin-top:1.6rem;
    background-color: rgb(162, 194, 224);
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 8px;
}

.todo li {
    flex: 1;
}

.check-btn, .delete-btn {
    background: brown;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 0.6rem;
    border-radius: 5px;
    margin-left: 0.5rem;
}

.check-btn {
    background: rgb(25, 224, 131);
}

.select {
    margin: 0.7rem;

}

.filer-todo {
    padding: 0.2rem;
    border-radius: 5px;
    border-style: none;
    background: cornflowerblue;
    color: white;
}


